<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>We hold a data base of ingredients and users are able to interact with
      said ingredients and update, delete and add ingredients. User also have a
      personalised username and password and some webpages are only avaliable to 
      users with a username and password. 

    </p>
    <!-- Redirects to home page -->
    <p><a href="/">home page</a></p>
  </body>
</html>