<!doctype html>
<html>
  <head>
    <title> <%=shopName%> User Deletion</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <form method="POST" action="/delete">
        <p>Deletion successful</p>
    </form>
  </body>
  <!-- Redirects to home page -->
  <p><a href="/">home page</a></p>
</html>