<!doctype html>
<html>
  <head>
    <title>Login for <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Login for <%=shopName%></h1>
    <form method="POST" action="/delete">
      <p>Username: <input id="username" type="text" name="username" value="" /></p>
      <input type="submit" value="Delete" />
    </form>
  </body>
  <!-- Redirects to home page -->
  <p><a href="/">home page</a></p>
</html>