<!--This is the page which renders when a food has been added-->
<!doctype html>
<html lang="en">
    <head>
        <title> You have added a new food for <%=shopName%></title>
        <!-- Linking my CSS -->
        <link rel="stylesheet"  type="text/css" href="main.css" />
    </head>
    <body>
        <h1>You have successfully added a new food for <%=shopName%></h1>
    </body>
    <p><a href="/">home page</a></p>
</html>

