<!doctype html>
<html>
  <head>
    <title>Incorrect Username or Password <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Error <%=shopName%></h1>
    <p>Incorrect Username or password</p>
    <p><a href="login">Login page</a></p>
  </body>
</html>