<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="search">Search for a food</a></p>
    <p><a href="search-update">Update/delete a food </a></p>
    <p><a href="addfood">Add a food</a></p>
    <p><a href="list">List food</a></p>
    <p><a href="api">Api search</a></p>
    <p><a href="./api-list">Api List</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="logout">Logout</a></p>


  </body>
</html>
