<!doctype html>
<html>
  <head>
    <title>Search for shows</title>
    <link rel="stylesheet"  type="text/css" href="main.css"/>
  </head>
  <body>
    <h1>Search </h1>
    <form action="/movie-search" method="GET">
      <p>What show would you like to search for?</p>
      <input id="search-box" type="text" name="name" value="">
      <input type="submit" value="Search" >
    </form>
    <!-- Redirects to home page -->
    <p><a href="/">home page</a></p>
  </body>
</html>