<!doctype html>
<html>
  <head>
    <title>Berties Books</title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <p>Hello <%=newUser[1]%> <%=newUser[2]%>, you are now registered! We will send an email
    to you at <%=newUser[3]%>. Your hashed password is <%=newUser[4]%> </p>
  </body>
  <!-- Redirects to home page -->
  <p><a href="/">home page</a></p>
</html>