<!doctype html>
<html>
  <head>
    <title>Search for weather in different cities</title>
    <link rel="stylesheet"  type="text/css" href="main.css"/>
  </head>
  <body>
    <h1>Search </h1>
    <form action="/weather-search" method="GET">
      <p>Search for the city or country you would like the weather for</p>
      <input id="search-box" type="text" name="city" value="">
      <input type="submit" value="Search" >
    </form>
    
    <!-- Redirects to home page -->
    <p><a href="/">home page</a></p>
  </body>
</html>